
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

$font-family-serif: Lora, serif;
$font-family-base: $font-family-serif;

@import "~bootstrap/scss/bootstrap";

html, body, #__next {
  height: 100%;
}

body, #__next {
  display: flex;
  flex-direction: column;
}

@import "Home";
