
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

$font-family-serif: "DM Sans", sans-serif;;
$font-family-base: $font-family-serif;

@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons.scss";

html, body, #__next {
  height: 100%;
}

body, #__next {
  display: flex;
  flex-direction: column;
}

@import "Home";
